* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #fcfdff;
  --secondary-color: #333343;
  --accent-2-color: #f47a6e;
  --accent-1-color: #47b5a0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

a {
  color: var(--accent-1-color);
  text-decoration: none;
}

a:visited {
  color: var(--accent-1-color);
}

/* Styling for the video-card container */
.video-card {
  max-width: 75%;
  height: auto;
  border: 2px solid #999;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.video-link {
  text-decoration: none;
  color: inherit;
}

.card-info {
  padding: 1.2rem;
}

.card-thumbnail img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

button.liked {
  background-color: #007BFF;
  color: white;
}

@keyframes slideInBottom {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInTop {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
