header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 1rem;
  gap: 20%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

li a {
  background-color: var(--accent-1-color);
  border-radius: 4px;
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.1s ease;
}

li a:hover {
  background-color: var(--accent-2-color);
  color: var(--primary-color);
}

li a:visited {
  color: var(--primary-color);
}